# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
.env/

# =========================
# Hugging Face / Model Cache
# =========================
.cache/
.huggingface/
hf_cache/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Streamlit (optional)
# =========================
.streamlit/

# =========================
# Build / temp files
# =========================
build/
dist/
*.egg-info/